
{%extends "layout.html" %}

{%block content%}

{% from "_macros.html" import render_field%}
<div class="container">
    <div class="row">
        <h3>Pizzas</h3>
        <h4><a href="">Nuevo</a> </h4>
        

        <table>
            <thead>
                <tr>
                    <th>Tamaño</th>
                    <th>Ingredientes</th>
                    <th>Numero de pizzas</th>
                    <th>Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for pi in pizza%}
                <tr>
                    <td>{{pi.tamanio}}</td>
                    <td>{{pi.ingredientes}}</td>
                    <td>{{pi.numero_pizza}}</td>
                    <td>{{pi.subtotal}}</td>
                    <td><a href="eliminar?id={{pi.id}}"
                         class="btn btn-danger">Eliminar </a>  </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <form name="agregar" action="/tabla" id="registro" method="post"></form>
        <input type="submit" name="btn1" value="Terminar">

        <div class="col-xs-4">
            <div class="form-group float-label-form-group controls">
                <h1>El total es : {{R}}</h1>
            </div>
          </div>
          </form>
    </div>
</div>






{%endblock%}