{% extends "layout.html" %}

{% block content %}
  {% from "_macros.html" import render_field %}
  <div class="container">
    <div class="row">
      <form  method="post" action="/agregarP" >

        
        <div class="row">
          <div class="col-md-4">
            <div class="form-group float-label-form-group controls">
              {{ render_field(form.nombreCompleto, class="form-control") }}
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group float-label-form-group controls">
              {{ render_field(form.direccion, class="form-control") }}
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group float-label-form-group controls">
              {{ render_field(form.telefono, class="form-control") }}
            </div>
          </div>
        </div>
        
        <div class="col-md-4">
            <div class="form-group float-label-form-group controls">
              {{ render_field(form.fecha, class="form-control") }}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group float-label-form-group controls">
              {{ render_field(form.idC, class="form-control") }}
            </div>
          </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group float-label-form-group controls">
              {{ render_field(form2.tamanio, class="form-control") }}
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group float-label-form-group controls">
              {{ render_field(form2.ingredientes, class="form-control") }}
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group float-label-form-group controls">
              {{ render_field(form2.numeropizza, class="form-control") }}
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                 </div>
          <div class="col-md-4">
            <input  type="submit" id="registrar" name="registrar" value="Agregar"  class="btn btn-success" />
          </div>
        </div>
        <div id="formularioTerminar">
          <h1>Terminar </h1>
          <p>{{ message }}</p>
          <input type="submit" id="Botonsi" name="Botonsi" value="Sí"  class="btn btn-success"    />
          <input type="submit" id="Botonno" name="Botonno" value="No"   class="btn btn-danger" />
        </div>
      </form>
    

     
  
      <div class="row justify-content-md-center mt-5">
        <table class="col-md-6 text-center table table-bordered table-striped">
          <thead>
            <tr>
              <th>Tamaño</th>
              <th>Ingredientes</th>
              <th>Numero de pizzas</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody id="tblPizza">
            {%for pizza in pizzas%}
            <tr>
                <td>{{pizza.tamanio}}</td>
                <td>{{ pizza.ingredientes | join(", ") }}</td>
                <td>{{pizza.numeropizza}}</td>
                <td>{{pizza.subtotal}}</td>
                <td><a href="/eliminarp?pizza_id={{ loop.index0 }}" class="btn btn-danger">Eliminar</a></td>
                <td><a href="/modificarp?pizza_id={{ loop.index0 }}" class="btn btn-warning">actualizar</a></td>
              </tr>
            {%endfor%}

          </tbody>
        </table>
      </div>
      
   <div class="col-md-6 mx-auto mt-4 mb-4">
    <form method="post" action="{{ url_for('tabla') }}" class="col-md-12">
        <div class="d-flex ">
            <label for="dia" class="me-2">Dia: </label>
            <select class="form-select" id="dia" name="dia">
                <option value="">Selecciona un dia: </option>
                <option value="Monday">Lunes</option>
                <option value="Tuesday">Martes</option>
                <option value="Wednesday">Miercoles</option>
                <option value="Thursday">Jueves</option>
                <option value="Friday">Viernes</option>
                <option value="Saturday">Sabado</option>
                <option value="Sunday">Domingo</option>
            </select>
            <input type="submit" name="por_dia" value="Por Día" class="btn btn-secondary">
        </div>
    </form>
    <form method="post" action="{{ url_for('tabla2') }}" class="col-md-12 mt-4 mb-4">
        <div class="d-flex">
            <label for="mes" class="me-2">Mes: </label>
            <select class="form-select" id="mes" name="mes">
                <option value="">Selecciona un mes...</option>
                <option value="1">Enero</option>
                <option value="2">Febrero</option>
                <option value="3">Marzo</option>
                <option value="4">Abril</option>
                <option value="5">Mayo</option>
                <option value="6">Junio</option>
                <option value="7">Julio</option>
                <option value="8">Agosto</option>
                <option value="9">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
            </select>
            <input type="submit" name="por_mes" value="Por Mes" class="btn btn-secondary">
        </div>
    </form>
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h4 class="text-center">Ventas</h4>
            </div>
            <div class="card-body mx-auto">
                <h4 class="text-center">{{ mes }}</h4>
                {% for resultado in resultados %}
                    <div class="mb-3">
                        <p class="mb-1">
                            <strong>Nombre Completo:</strong> {{ resultado.nombre_completo }}
                            <strong>Total:</strong> {{ resultado.total }}
                        </p>
                    </div>
                {% endfor %}
    
                <div class="mt-4">
                    <p class="mb-1">
                        <strong>Suma de Totales:</strong> {{ suma }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    </div>
    
   
</div>
      </form>
    </div>
  </div>

{% endblock %}
